<div class="row mb-5 p-4 border" style="text-align: center;">
    <div class="col-2">
        <a class="boxTextColor" href="">github</a>
        <button class= "btn btn-sm bodyButtons oneCharButton">-</button>
    </div>
    <div class="col-2">
        <a class="boxTextColor" href="">Discord</a>
        <button class= "btn btn-sm bodyButtons oneCharButton">-</button>
    </div>
    <div class="col-2">
        <a class="boxTextColor" href="">Trello</a>
        <button class= "btn btn-sm bodyButtons oneCharButton" >-</button>
    </div>
    <div class="col-2">
        <a class="boxTextColor" href="">Extra</a>
        <button class= "btn btn-sm bodyButtons oneCharButton">-</button>
    </div>
    <div class="col-2">
        <button class= "btn btn-sm bodyButtons oneCharButton">+</button>
    </div>
</div> 
        <!-- Chat -->
<div class="border"> <!-- mainbox-->
    <div class="groupMainBorder m-3">
        <div class="input-group">
            <input type="text" class="form-control midBg" style="padding: 5%;" placeholder="Write a post!" aria-label="Recipient's username with two button addons">
        </div>
        <div style="text-align: end;" class="mb-3">
            <button type="button" class= "btn btn-sm bodyButtons me-4">Primary</button>
        </div>
    </div>
    <div  class="groupMainBorder" style="margin: 5%;">
        <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, neque quasi facere, odit consequatur necessitatibus sunt iure officia ipsum quia beatae. Alias ex at distinctio rem! Molestiae asperiores cupiditate enim!
        </p>
    </div>
</div>