<div class = "border">
    <div style="text-align: center;">
        <h3>Users</h3>
    </div>
    <div class="list-group" id="list-tab" role="tablist">
        <div class = "list-group-item list-group-item-action">
            <a id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">User1</a>
            <button class= "btn-primary btn-primary-sm">-</button>
        </div>
        <div class = "list-group-item list-group-item-action">
            <a id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">User2</a>
            <button class= "btn-primary btn-primary-sm">-</button>
        </div>
        <div class = "list-group-item list-group-item-action">
            <a id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">User3</a>
            <button class= "btn-primary btn-primary-sm">-</button>
        </div>
        <div class = "list-group-item list-group-item-action">
            <a id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">User4</a>
            <button class= "btn-primary btn-primary-sm">-</button>
        </div>
    </div>
</div>
<!-- Skills Box -->
<div class = "border" style="margin-top: 5%;">
    <div style="text-align: center;">
        <h3>Skills In Use</h3>
    </div>
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">HTML</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">CSS</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab">JS</a>
    </div>
</div>

    <!-- Skills Needed Box --> 
<div class = "border" style=" margin-top: 5%;">
    <div style="text-align: center;">
        <h3>Skills Needed</h3>
    </div>
    <div  class = "container" id="list-tab" role="tablist">
        <a class=" m-2 col" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">Node</a>
        <button class="col btn-primary btn-primary-sm">-</button>
    </div>
    <div  class = "container " id="list-tab" role="tablist">
        <a class=" col m-2" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">MySql</a>
        <button class=" col btn-primary btn-primary-sm">-</button>
    </div>
    <div class="container" style="width: 50%;">
        <div class="col m-2"></div>
        <button class=" m-2 btn-primary btn-primary-sm col">+</button>
    </div>
</div>