<div class = "border" style=" height: 100%;">
    <div class=" m-3 d-flex flex-column" >
        <!-- inputs for name and description change -->
        <div class="input-group input-group-vertical" >
            <input class= "title form-control midBg" type="text" value="{{project.name}}" >
            <!-- Save Icon -->
            <button class= "btn btn-sm bodyButtons oneCharButton me-1">S</button>
        </div>

        <!-- Need help in sizing -->
        
            <div class="input-group input-group-vertical">
                <input class= "title form-control midBg" type="text" value="{{project.description}}">
                <button class= "btn btn-sm bodyButtons oneCharButton me-1">S</button>
            </div>
        
    </div>
</div>