<div style="border: 5px solid black; height: 100%;">
    <div class="m-3" >
        <!-- inputs for name and description change -->
        <div class="input-group input-group-vertical"style="text-align: center;" >
            <input class= "title form-control" type="text" value="Project Description" >
            <!-- Save Icon -->
            <button class="btn-primary">S</button>
        </div>

        <!-- Need help in sizing -->
        <div class="input-group input-group-lg" style="height: 100%;">
            <input class= "projectDescription form-control" type="text" style="height: 100% !important;" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at qui aspernatur repudiandae harum hic vel deleniti amet assumenda est, ducimus doloribus aliquid eum magni ipsum impedit eveniet beatae perspiciatis?">
        </div>
        <div style="text-align: end;">
            <button class="btn-primary">S</button>
        </div> 
    </div>
</div>