<div style="border: 4px solid black;">
    <div class = "d-flex flex-column align-items-center">
        <section style="border: 5px solid black; margin-top: 5%; width:90%;">
            <div class = "d-flex align-items-start flex-column">
                <h3>Group name</h3>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum aliquid quos impedit iusto est tempore. Dolor omnis sint consequatur. Ex possimus natus culpa sunt, eligendi laudantium reiciendis ducimus nihil tempora?</p>
            </div>
            <!-- bottom of sub-box -->
            <div class = "d-flex justify-content-between">
                <div>
                    <h6>Needs:</h6>
                    <!-- iconHolder -->
                    <a></a>
                </div>
                <button class = "btn-secondary">View Group</button>
            </div>
        </section>
    </div>
    {{!-- copied boxes go here --}}
</div>