<div class="groupMainBorder">
    <div class = "d-flex flex-column align-items-center">
        <section class = "border m-4">
            <div class = "d-flex align-items-start flex-column m-3">
                <h3 class="boxTextColor">Group name</h3>
                <p class="boxTextColor"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum aliquid quos impedit iusto est tempore. Dolor omnis sint consequatur. Ex possimus natus culpa sunt, eligendi laudantium reiciendis ducimus nihil tempora?</p>
            </div>
            <!-- bottom of sub-box -->
            <div class = "d-flex justify-content-between m-3">
                <div>
                    <h6 class="boxTextColor">Needs:</h6>
                    <!-- iconHolder -->
                    <a></a>
                </div>
                <button class = "btn bodyButtons">View Group</button>
            </div>
        </section>
    </div>

</div>