 <div class = "border">
    <div class = "input-group m-3 " style="width:80%;">
        <input type="text" class = "form-control" >
        <button>Search</button>
    </div>
    <div class = "d-flex flex-column">
        <input type="range" min="0" max="7">
        <div>
            <input type="checkbox" name="HTML" id="HTML" value="HTML">
            <label for="HTML"> HTML</label><br>
            <input type="checkbox" name="CSS" id="CSS" value="CSS">
            <label for="CSS"> CSS</label><br>
            <input type="checkbox" name="JS" id="JS" value="JS">
            <label for="JS"> JS</label><br>
            <input type="checkbox" name="express" id="express" value="express">
            <label for="express"> express</label><br>
            <input type="checkbox" name="SQL" id="SQL" value="SQL">
            <label for="SQL"> SQL</label><br>
            <input type="checkbox" name="HandleBars" id="HandleBars" value="HandleBars">
            <label for="HandleBars"> HandleBars</label><br>
        </div>
    </div>
</div>