<div class = " d-flex flex-column justify-content-center align-items-center border" >
        <h2>Your Groups</h2>
        <p class = "btn-group-vertical  btn-group-lg d-flex justify-content-center ">
            <button class = "btn-secondary">Group 1</button>
            <button class = "btn-secondary">Group 2</button>
            <button class = "btn-warning">empty</button>
        </p>
</div>
