<div style="border: 5px solid black;">
    <div style="text-align: center;">
        <h4>Project Discription</h4>
    </div>
    <div style="text-align: center; margin-top: 10%;">
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at qui aspernatur repudiandae harum hic vel deleniti amet assumenda est, ducimus doloribus aliquid eum magni ipsum impedit eveniet beatae perspiciatis?
        </p>
    </div>
</div>