<div style="border: 4px solid black; margin-top:5%;"> <!-- Actual Boarder -->
    <div style="border: 2px solid black; margin: 5%;">
        <h4>Project Discription</h4>
        <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, neque quasi facere, odit consequatur necessitatibus sunt iure officia ipsum quia beatae. Alias ex at distinctio rem! Molestiae asperiores cupiditate enim!
        </p>
    </div>
</div>
