<div class = "border">
    <div style="text-align: center;">
        <h3>Users</h3>
        </div>
        <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">User1</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">User2</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab">User3</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab">User4</a>
        </div>
    </div>
    <!-- Skills Box -->
    <div class = "border" style="margin-top: 5%;">
        <div style="text-align: center;">
        <h3>Skills In Use</h3>
        </div>
        <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">HTML</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">CSS</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab">JS</a>
        </div>
        </div>

    <!-- Skills Needed Box --> 
    <div class = "border" style="margin-top: 5%;">
        <div style="text-align: center;">
        <h3>Skills Needed</h3>
        </div>
        <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">Node</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">MySql</a>
        </div>
    </div>
</div>
