<div class = "border boxTextColor" style=" margin-top: 5%;">
    <div style="text-align: center;">
        <h3>Skills In Use</h3>
    </div>
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action midBg boxTextColor" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">HTML</a>
        <a class="list-group-item list-group-item-action midBg boxTextColor" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">CSS</a>
        <a class="list-group-item list-group-item-action midBg boxTextColor" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab">JS</a>
    </div>
</div>

        <!-- Skills Needed Box --> 
<div class = "border boxTextColor" style=" margin-top: 5%;">
    <div style="text-align: center;">
        <h3>Skills Needed</h3>
    </div>
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action midBg boxTextColor" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">Node</a>
        <a class="list-group-item list-group-item-action midBg boxTextColor" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">MySql</a>
    </div>
</div>
