<div class= "groupMainBorder m-3">
    <h4 class="m-3 boxTextColor">Project Discription</h4>
    <p class="m-2 boxTextColor">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, neque quasi facere, odit consequatur necessitatibus sunt iure officia ipsum quia beatae. Alias ex at distinctio rem! Molestiae asperiores cupiditate enim!
    </p>
</div>