<div class="px-3 py-4 my-4 text-center">
    <div class="container">
        <div class="row justify-content-md-center">
        <h1 class="display-5 fw-bold">
            Group Finder
        </h1>
        </div>
    
        <div class="justify-content-md-center m-5">
            <h2 class="bg-primarydisplay-4  p-3" style="color: snow;">Username or Email</h2>
            <input type="text" class="form-control bg-secondary display-4" style = "color:snow;">
        </div>
        <div class="justify-content-md-center m-5">
            <h2 class="bg-primary display-4 p-3"  style="color: snow;">Password</h2>
            <input type="text" class="form-control bg-secondary display-4" style = "color:snow;">
        </div>
    </div>
</div>