
<section class = 'bg-primary navbar d-flex justify-content-between'>
        <!-- holder for icon -->
        <a></a>
        <aside id = 'nav-button-holder' class = 'd-flex flex-row justify-content-end'>
            <button class = 'me-5 btn-outline-secondary'>Find Groups</button>
            <button class = 'me-5 btn-outline-secondary'>Profile</button>
        </aside>
    </section>