<form class="px-3 py-4 my-4">
    <div class="container">
        <div class="row text-center">
        <h1 class="display-5 fw-bold">
            Sign Up
        </h1>
        </div>
    </div>
    <div class="container">
        <div class="mb-3">
            <label class="form-label">Create a Username</label>
            <input class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>