<div class="px-3 py-4 m-5 text-center border">
            <div class="container">
              <div class="groupMainBorder row justify-content-md-center m-5">
                <div class="display-5 fw-bold boxTextColor d-flex flex-row m-3 justify-content-center">
                   <h2>user</h2>
                    <h2 class="mx-2"> has asked to join your project titled </h2>
                    <h2>Project Name</h2>
                </div>
                <div class="display-6 fw-bold boxTextColor d-flex flex-row m-3 justify-content-center">
                    <h3 class="mx-2">User Page :</h3>
                    <a href=""><h2>portfoliopage</h2></a>
                </div>
                <div class="display-3 fw-bold boxTextColor d-flex flex-row justify-content-center m-3">
                    <h3>User</h3>
                    <h3 class ="mx-2">request to fill these skills :</h3>
                    <i class="fab fa-html5 icon"></i>

                </div>
                <div class="display-3 fw-bold boxTextColor d-flex flex-column m-3">
                    <h2 mx-5>Motivations</h2>
                    <p class="display-3 fs-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, exercitationem laboriosam consectetur eius similique libero dolorem quaerat molestiae asperiores? Minus minima temporibus expedita dolorum laudantium voluptas, nesciunt placeat itaque voluptatibus!</p>
                </div>
              </div>
            </div>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button class="btn bodyButtons btn-lg px-4 gap-3" type="button">Accept</button>
                <button class="btn bodyButtons btn-lg px-4 gap-3" type="button">Decline</button>
              </div>
        </div>