<div class="container">
    <div class="row">
        <div class="col-2"> <!-- Left Box -->
            <div class = " d-flex flex-column justify-content-center align-items-center border" >
                <div>
                <h3 class = "boxTextColor">Your Groups</h3>
                </div>
                <div class="list-group mb-3" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">Group1</a>
                    <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">Group2</a>
                    <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab">Gropu3</a>
                </div>
            </div>
        </div>
    

        <div class="col-8"> <!-- Main Box-->
        <div class="groupMainBorder">
            <div class = "d-flex flex-column align-items-center">
                <section class = "border m-4">
                    <div class = "d-flex align-items-start flex-column m-3">
                        <h3 class="boxTextColor">Group name</h3>
                        <p class="boxTextColor"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum aliquid quos impedit iusto est tempore. Dolor omnis sint consequatur. Ex possimus natus culpa sunt, eligendi laudantium reiciendis ducimus nihil tempora?</p>
                    </div>
                    <!-- bottom of sub-box -->
                    <div class = "d-flex justify-content-between m-3">
                        <div>
                            <h6 class="boxTextColor">Needs:</h6>
                            <!-- iconHolder -->
                            <a></a>
                        </div>
                        <button class = "btn bodyButtons">View Group</button>
                    </div>
                </section>
            </div>
    
        </div>
        </div>

        <div class="col-2"> <!-- Right Box -->
        <div class = "border">
            <div class = " d-flex input-group input-group-vertical m-3 midBg " style="width: 80%;" >
                <input type="text" class = "form-control ">
                <button class="btn bodyButtons">Search</button>
            </div>
            <div class = "d-flex flex-column m-3">
                <input type="range" min="0" max="7" >
                <div class="checkBox">
                    <label class="checkMarkContainer">HTML
                        <input id = "HTML" type="checkbox">
                        <span class="checkMark"></span>
                    </label>
                    <label  class="checkMarkContainer">CSS
                        <input id="CSS" type="checkbox">
                        <span class="checkMark"></span>
                    </label>
                    <label class="checkMarkContainer">JS
                        <input id="JS" type="checkbox">
                        <span class="checkMark"></span>
                    </label>
                    <label class="checkMarkContainer">express
                        <input id="express" type="checkbox">
                        <span class="checkMark"></span>
                    </label>
                    <label class="checkMarkContainer">MySQL
                        <input id="MySQL" type="checkbox">
                        <span class="checkMark"></span>
                    </label>
                    <label class="checkMarkContainer">HandleBars
                        <input id="handlebars" type="checkbox">
                        <span class="checkMark"></span>
                    </label>
                    

                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{{!-- <script src="assets/js/login"></script> --}}