<div class="container">
    <div class="row">
        <div class="col-2"> <!-- Left Box -->
            <div class = " d-flex flex-column justify-content-center align-items-center border" >
                <div>
                <h3 class = "boxTextColor">Your Groups</h3>
                </div>
                <div class="list-group mb-3" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">{{user.username}}'s Group</a>
                    <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">Group2</a>
                    <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab">Gropu3</a>
                </div>
            </div>
        </div>
    

        <div class="col-8"> <!-- Main Box-->
        <div class="groupMainBorder">

            <div id="postGroup">

            </div>
            <div id="navGroup">

            </div>
            
    
        </div>
        </div>

        <div class="col-2"> <!-- Right Box -->
        <div class = "border">
            <div class = " d-flex input-group input-group-vertical m-3 midBg " style="width: 80%;" >
                <input type="text" class = "form-control ">
                <button class="btn bodyButtons" id="searchGroup">Search</button>
            </div>
            <div class = "d-flex flex-column m-3">
                <input type="range" min="1" max="5" id="difficulty">
                <div class="checkBox" id='searchQuery'>
                    <label class="checkMarkContainer">
                        <p>HTML5</p>
                        <input id = "theBox" type="checkbox">
                        <span class="checkMark" id="isChecked"></span>
                    </label>
                    <label  class="checkMarkContainer">
                        <p>CSS</p>
                        <input id="theBox" type="checkbox">
                        <span class="checkMark" id="isChecked"></span>
                    </label>
                    <label class="checkMarkContainer">
                        <p>JS</p>
                        <input id="theBox" type="checkbox" >
                        <span class="checkMark" ></span>
                    </label>
                    <label class="checkMarkContainer">
                        <p>Express</p>
                        <input id="theBox" type="checkbox">
                        <span class="checkMark" id="isChecked"></span>
                    </label>
                    <label class="checkMarkContainer">
                        <p>MySql</p>
                        <input id="theBox" type="checkbox">
                        <span class="checkMark" id="isChecked"></span>
                    </label>
                    <label class="checkMarkContainer">
                        <p>HandleBars</p>
                        <input id="theBox" type="checkbox">
                        <span class="checkMark" id="isChecked"></span>
                    </label>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="assets/js/findGroup.js"></script>