<div class="container">
    <div class="row">
        <div class="col-2"> <!-- Left Box -->
        <div class = "border">
            <div style="text-align: center;">
                <h3 class = "boxTextColor">Users</h3>
                </div>
                <div class="list-group " id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">User1</a>
                <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">User2</a>
                <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab">User3</a>
                <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab">User4</a>
                </div>
            </div>
            <!-- Skills Box -->
            <div class = "border" style="margin-top: 5%;">
                <div style="text-align: center;">
                <h3 class = "boxTextColor">Skills In Use</h3>
                </div>
                <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">HTML</a>
                <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">CSS</a>
                <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab">JS</a>
                </div>
                </div>
        
            <!-- Skills Needed Box --> 
            <div class = "border" style="margin-top: 5%;">
                <div style="text-align: center;">
                <h3 class = "boxTextColor">Skills Needed</h3>
                </div>
                <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab">Node</a>
                <a class="list-group-item list-group-item-action boxTextColor midBg" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab">MySql</a>
                </div>
            </div>
        </div>
    

        <div class="col-8"> <!-- Main Box-->
        <div class="groupMainBorder">
            <div class = "d-flex flex-column align-items-center">
                <section class = "border m-4">
                    <div class = "d-flex align-items-start flex-column m-3">
                        <h3 class="boxTextColor">{{name}}</h3>
                        <p class="boxTextColor"> {{description}}</p>
                    </div>
                    <!-- bottom of sub-box -->
                    <div class = "d-flex justify-content-between m-3">
                        <div>
                            <h6 class="boxTextColor">Needs:</h6>
                            <!-- iconHolder -->
                            <a></a>
                        </div>
                        <button class = "btn bodyButtons">View Group</button>
                    </div>
                </section>
            </div>
        </div>
        </div>

        <div class="col-2"> <!-- Right Box -->
        <div class = "border">
            <div style="text-align: center;">
                <h4 class="boxTextColor">{{name}}</h4>
            </div>
            <div style="text-align: center; margin-top: 10%;">
                <p class="boxTextColor">
                {{description}}
                </p>
            </div>
        </div>
        </div>
    </div>
</div>