<div class="container">
    <div class="row">
        <div class="col-2"> <!-- Left Box -->
        <div class = "border">
            <div style="text-align: center;">
                <h3 class = "boxTextColor">Users</h3>
                </div>
                <div class="list-group " id="insertUsers" role="tablist">
                
                
                </div>
            </div>
            <!-- Skills Box -->
            <div class = "border" style="margin-top: 5%;">
                <div style="text-align: center;">
                <h3 class = "boxTextColor">Skills In Use</h3>
                </div>
                <div class="list-group" id="insertTechInUse" role="tablist">
                

                </div>
                </div>
        
            <!-- Skills Needed Box --> 
            <div class = "border" style="margin-top: 5%;">
                <div style="text-align: center;">
                <h3 class = "boxTextColor">Skills Needed</h3>
                </div>
                <div class="list-group" id="insertTechNeeded" role="tablist">
                

                </div>
            </div>

            <div id="insertEdit" style="text-align: center; padding-top: 5%;">
                
            </div>
        </div>
    

        <div class="col-8"> <!-- Main Box-->
        <div class="groupMainBorder">
            <div class = "d-flex flex-column align-items-center" id='postArea'>
                <div class="row" id="insertLink">
                    
                    
                    
                </div>
                <section class = "border m-4" style="width: 80%;">
                    <div class = "d-flex align-items-start flex-column m-3">          
                    </div>
                    <div class="form-floating" style=" width: 80%; margin: auto;" id="commentBox">
                            <textarea class="form-control" placeholder="Leave a comment here" id="yourPost" style="height: 100px;"></textarea>
                            <label for="floatingTextarea2" style="margin: auto;">Comments</label>
                    </div>
                    <!-- bottom of sub-box -->

                    <div class = "d-flex justify-content-between m-3" id="commentButton">
                        <div style="justify-content: flex-end; margin: auto;">
                            <button class = "btn bodyButtons" id="submitPost">Comment</button>
                        </div>
                    </div>
                </section>

                
            </div>
        </div>
        </div>

        <div class="col-2"> <!-- Right Box -->
        <div class = "border">
            <div style="text-align: center;">
                <h4 class="boxTextColor" id="groupName"></h4>
            </div>
            <div style="text-align: center; margin-top: 10%;">
                <p class="boxTextColor" id="groupDesc">
                
                </p>
            </div>
        </div>
        </div>
    </div>
</div>



<div class="modal" tabindex="-1" id="createGroup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="xClose"></button>
      </div>
      <div class="modal-body">
        <div class="px-3 py-4 m-4 border d-flex flex-column">
    <div class="container">
        <div class="row text-center">
        <h1 class="display-5 fw-bold boxTextColor">
            Make your Group
        </h1>
        </div>
    </div>
    <div class="container">
        <div class="mb-3">
            <label class="form-label boxTextColor">Group Name</label>
            <input class="form-control" id="groupName2" placeholder="">
        </div>
        <div>
            <h2 class= "boxTextColor">Difficulty bar</h2>
        </div>
        <div class= "d-flex justify-content-between">
            <label class = "boxTextColor">easy</label>
            <label class = "boxTextColor">hard</label>
        </div>
        <div>
            <input type="range" min="1" max="5" id="groupDifficulty">
        </div>
        <div class="mb-3">
            <label class="form-label boxTextColor">Project Description</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" id="groupDisc">
        </div>
        <div class="mb-3">
            <label class="form-label boxTextColor">Link name #1 </label>
            <input type="text" class="form-control" id="link1Name"> 
            <label class="form-label boxTextColor">Link address #1 </label>
            <input type="text" class="form-control" id="link1Link"> 

           
        </div>

        <div class="mb-3">
            <label class="form-label boxTextColor">Link name #2 </label>
            <input type="text" class="form-control"id="link2Name"> 
            <label class="form-label boxTextColor">Link address #2 </label>
            <input type="text" class="form-control" id="link2Link"> 

           
        </div>

        <div class="mb-3">
            <label class="form-label boxTextColor">Link name #3</label>
            <input type="text" class="form-control" id="link3Name"> 
            <label class="form-label boxTextColor">Link address #3 </label>
            <input type="text" class="form-control" id="link3Link"> 

           
        </div>

        <div class="mb-3">
            <label class="form-label boxTextColor">Link name #4 </label>
            <input type="text" class="form-control" id="link4Name"> 
            <label class="form-label boxTextColor">Link address #4 </label>
            <input type="text" class="form-control" id="link4Link"> 

           
        </div>
        
        <div>
            <p style="color: white;">Choose the Tech You need for your Project</p>
        </div>

                <div class="checkBox " style="width: 100%;" id="groupTechNeed">
                    <div class="row">
                        <label class="checkMarkContainer groupMakerCheck col-3">
                        <p style="padding-left: 25%">HTML</p>
                        <input id = "HTML" type="checkbox">
                        <span class="checkMark"></span>
                    </label>
                    <label  class="checkMarkContainer groupMakerCheck col-3" >
                        <p style="padding-left: 25%">CSS</p>
                        <input id="CSS" type="checkbox">
                        <span class="checkMark"></span>
                    </label>
                    <label class="checkMarkContainer groupMakerCheck  col-3">
                        <p style="padding-left: 25%">JS</p>
                        <input id="JS" type="checkbox">
                        <span class="checkMark "></span>
                    </label>
                    <label class="checkMarkContainer groupMakerCheck col-3">
                        <p style="padding-left: 25%">Node.JS</p>
                        <input id="Node" type="checkbox">
                        <span class="checkMark "></span>
                    </label>
                    </div>

                    <div class="row">
                        <label class="checkMarkContainer groupMakerCheck col-3">
                            <p style="padding-left: 25%">Express</p>
                        <input id="express" type="checkbox">
                        <span class="checkMark "></span>
                    </label>
                    <label class="checkMarkContainer groupMakerCheck col-3">
                        <p style="padding-left: 25%">MySQL</p>
                        <input id="MySQL" type="checkbox">
                        <span class="checkMark "></span>
                    </label>
                    <label class="checkMarkContainer groupMakerCheck col-3">
                        <p style="padding-left: 25%">Sequalize</p>
                        <input id="Sequalize" type="checkbox">
                        <span class="checkMark "></span>
                    </label>
                    <label class="checkMarkContainer groupMakerCheck col-3">
                        <p style="padding-left: 25%">HandleBars</p>
                        <input id="handlebars" type="checkbox">
                        <span class="checkMark "></span>
                    </label>
                    </div>
                </div> 
    </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="botClose">Close</button>
        <button type="button" class="btn btn-primary" id="modCreate">Save changes</button>
      </div>
    </div>
  </div>
</div>


{{!-- check for requests page --}}
<div class="modal" tabindex="-1" id="checkReq">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" id="closeReqTop" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="putRektsHere">
        ...
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeReqBot">Close</button>
      </div>
    </div>
  </div>
</div>



{{!-- request to join modal  --}}
<div class="modal" tabindex="-1" id="joinReqMod">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="reqJoinCloseTop"></button>
      </div>
      <div class="modal-body">
        <div class="px-3 py-4 m-4 border d-flex flex-column">
    <div class="container">
        <div class="row text-center">
        <h1 class="display-5 fw-bold boxTextColor">
            Request To Join Group
        </h1>
        </div>
    </div>
    <div class="container">
        <div class="mb-3">
            <label class="form-label boxTextColor">Link Your Portfolio</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" id="portfolioLink">
        </div>

        <div class="mb-3">
            <div class="form-floating" style=" width: 80%; margin: auto;" id="commentBox">
                    <textarea class="form-control" placeholder="Leave a comment here" id="ReqComment" style="height: 100px;"></textarea>
                    <label for="floatingTextarea2" style="margin: auto;">Comments</label>
            </div>
        </div>
        
        <div>
            <p style="color: white;">Choose the Tech You Would Like to use</p>
        </div>

                <div style="width: 100%;" id="requestedTech">
                    
                </div>
    </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="reqJoinCloseBot">Close</button>
        <button type="button" class="btn btn-primary" id="submitReq">Submit</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="/assets/js/groupPage.js"></script>