<div class="px-3 py-4 m-5 text-center border">
    <div class="groupMainBorder row justify-content-md-center m-5">
        <div class="display-5 fw-bold boxTextColor d-flex flex-column m-4 justify-content-center">
            <h2> What are your motivations for wanting to join project.name</h2>
            <input type="text" id="motivations" class="groupMainBorder boxTextColor mx-3">
        </div>
        <div class="display-5 fw-bold boxTextColor d-flex flex-row m-3 justify-content-center">
            <h2 class= "mx-2">What skills would you like to contribute to </h2>
            <h2>Project.name</h2>
        </div>
        <div class="display-7 fw-bold boxTextColor d-flex flex-row justify-content-center m-3">
            <div class="checkBox d-flex justify-content-evenly m-3">
                <label class="checkMarkContainer groupMakerCheck pe-3"><i class="fab fa-html5 icon px-4"></i>
                    <input id = "HTML" type="checkbox">
                    <span class="checkMark"></span>
                </label>
                <label  class="checkMarkContainer groupMakerCheck"><i class="fab fa-css3-alt icon px-4"></i>
                    <input id="CSS" type="checkbox">
                    <span class="checkMark"></span>
                </label>
                <label class="checkMarkContainer groupMakerCheck "><i class="fab fa-js-square icon px-4"></i>
                    <input id="JS" type="checkbox">
                    <span class="checkMark "></span>
                </label>
                <label class="checkMarkContainer groupMakerCheck px-5">Node
                    <input id="Node" type="checkbox">
                    <span class="checkMark "></span>
                </label>
                <label class="checkMarkContainer groupMakerCheck px-5">express
                    <input id="express" type="checkbox">
                    <span class="checkMark "></span>
                </label>
                <label class="checkMarkContainer groupMakerCheck px-5">MySQL
                    <input id="MySQL" type="checkbox">
                    <span class="checkMark "></span>
                </label>
                <label class="checkMarkContainer groupMakerCheck px-5">Sequalize
                    <input id="Sequalize" type="checkbox">
                    <span class="checkMark "></span>
                </label>
                <label class="checkMarkContainer groupMakerCheck px-5">HandleBars
                    <input id="handlebars" type="checkbox">
                    <span class="checkMark "></span>
                </label>
                

            </div>
        </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button class="btn bodyButtons btn-lg px-4 gap-3" type="button">Submit</button>
    </div>
</div>