<form class="px-3 py-4 m-4 border">
    <div class="container">
        <div class="row text-center">
        <h1 class="display-5 fw-bold boxTextColor">
            Sign Up
        </h1>
        </div>
    </div>
    <div class="container">
        <div class="mb-3">
            <label class="form-label boxTextColor">Create a Username</label>
            <input class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label boxTextColor">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text boxTextColor">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label class="form-label boxTextColor">Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="mb-3 form-check boxTextColor">
            <label class="checkMarkContainer signUpCheck">Remember Me
                <input id = "rememberMe" type="checkbox">
                <span class="checkMark"></span>
            </label>
        </div>
        <button type="submit" class="btn bodyButtons">Submit</button>
    </div>
</form>