<div class="px-3 py-4 my-4 text-center">
    <div class="container">
      <div class="row justify-content-md-center">
        <h1 class="display-5 fw-bold">
          Group Finder
        </h1>
      </div>
    </div>
    <div class="col-lg-6 mx-auto">
      <p class="lead-mb-4">
        Here at Group Project Finder we aim to find the missing puzzle piece for your project. Whether it be musical, graphical, code, or testing you can find the right talent to get the job done.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button class="btn btn-primary btn-lg px-4 gap-3" type="button">Log In</button>
        <button class="btn btn-primary btn-lg px-4 gap-3" type="button">Sign Up</button>
      </div>
    </div>
</div>